{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="main-content pt-4" style="font-family: XW_Zar_Bd_0;">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-end mb-4" id="myTab" role="tablist">
            </ul>
            <div class="card">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
                        <!-- ====== Edit Station Form ====== -->
                        <form method="POST" action="{% url 'teachers:edit_loan_request' loan_id=loan_record.id %}">
                            {% csrf_token %}
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content p-3">
                                <div class="card-title h5 mb-3">اضافه کردن فیس</div>
                                <div>
                                  <div class="row">
                                    <div class="col-md-6 form-group mb-3">
                                      <label for="{{ form.date.id_for_label }}">تاریخ</label>
                                      {{ form.date }}
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                      <label for="{{ form.amount.id_for_label }}">فیس اصلی</label>
                                      {{ form.amount }}
                                    </div>
                                  </div>
                                  <div class="col-md-12 form-group mb-3">
                                    <label for="{{ form.description.id_for_label }}">توضیحات</label>
                                    {{ form.description }}
                                  </div>
                        
                                  <div class="text-end">
                                    
                                    <!-- Dismiss button -->
                                    <button type="button" class="btn btn-secondary mt-2" data-bs-dismiss="modal">
                                      بستن
                                    </button>
                                  
                                    <!-- Submit button -->
                                    <button class="btn btn-primary mt-2" type="submit">
                                      ذخیره کردن
                                    </button>
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                          </form>
                               
    
        <script>
        document.addEventListener('DOMContentLoaded', function () {
          $('#datepicker3').datepicker({});
        });
        </script>
        
                        <!-- ====== / Edit Station Form ====== -->
                      </div>
                      
                </div>
            </div>
        </div>
    </div><!-- end of main-content -->
</div>

{% endblock %}