{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container mt-4 col-lg-12"> <!-- Bootstrap container -->
    <div class="card shadow rounded-3"> <!-- Bootstrap card -->
        <div class="card-body" style="font-family: 'Vazirmatn', sans-serif;">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center h4" role="alert">
                    {{ message }}
                </div>
                <script>
                    setTimeout(function () {
                        $('.alert').fadeOut('slow');
                    }, 3000);
                </script>
                {% endfor %}
            {% endif %}

            <div class="page-header mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">داشبورد</a></li>
                    <li class="breadcrumb-item active">بخش اصلاح</li>
                </ul>
                <h4 class="mb-3">
                    معلومات استاد 
                    <span class="badge bg-info">
                        {{ get_student_id.name }} {{ get_student_id.last_name }}
                    </span>
                </h4>
            </div>

            <form class="needs-validation" novalidate method="post" action="{% url 'teachers:edit_teacher' get_student_id.id %}" enctype="multipart/form-data">
                {% csrf_token %}
        
                <!-- اسم -->
                <div class="col-md-12 d-flex align-items-center mb-3">
                    <label for="firstName1" class="col-sm-4 col-form-label">اسم<span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                    {{ form.name }}
                    </div>
                </div>

                <!-- شماره تماس -->
                <div class="col-md-12 d-flex align-items-center mb-3">
                    <label for="phone" class="col-sm-4 col-form-label">شماره تماس</label>
                    <div class="col-sm-8">
                    {{ form.phone }}
                    </div>
                </div>

                <!-- جنسیت -->
                <div class="col-md-12 d-flex align-items-center mb-3">
                    <label for="phone" class="col-sm-4 col-form-label">جنسیت <span class="text-danger">*</span></label>
                    <div class="col-sm-8">
                    {{ form.gender }}
                    </div>
                </div>

                <!-- فیصدی -->
                <div class="col-md-12 d-flex align-items-center mb-3">
                    <label for="date_of_registration" class="col-sm-4 col-form-label">فیصدی<span
                        class="text-danger">*</span></label>
                    <div class="col-sm-8">
                    {{ form.percentage }}
                    </div>
                </div>

                <!-- فایل -->
                <div class="col-md-12 d-flex align-items-center mb-3">
                    <label for="gender" class="col-sm-4 col-form-label">عکس</label>
                    <div class="col-sm-8">
                    {{ form.image }}
                    </div>
                </div>

                <!-- توضیحات -->
                <div class="col-md-12 d-flex align-items-center mb-3">
                    <label for="gender" class="col-sm-4 col-form-label">توضیحات</label>
                    <div class="col-sm-8">
                    {{ form.description }}
                    </div>
                </div>

                <!-- Submit Buttons -->
                <div class="col-12 d-flex justify-content-end mt-3">
                    <button class="btn btn-secondary ml-2" type="button" data-dismiss="modal">برگشت</button>
                    <button class="btn btn-primary" type="submit">ذخیره کردن</button>
                </div>
                </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#datepicker3').datepicker({});
    });
</script>
{% endblock %}
