{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container mt-4 col-lg-12"> <!-- Bootstrap container -->
    <div class="card shadow rounded-3"> <!-- Bootstrap card -->
        <div class="card-body" style="font-family: 'Vazirmatn', sans-serif;">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center h4" role="alert">
                    {{ message }}
                </div>
                <script>
                    setTimeout(function () {
                        $('.alert').fadeOut('slow');
                    }, 3000);
                </script>
                {% endfor %}
            {% endif %}

            <div class="page-header mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">داشبورد</a></li>
                    <li class="breadcrumb-item active">بخش اصلاح</li>
                </ul>
                <h4 class="mb-3">
                    معلومات استاد 
                    <span class="badge bg-info">
                        {{ get_student_id.name }} {{ get_student_id.last_name }}
                    </span>
                </h4>
            </div>


            <form class="needs-validation" novalidate="novalidate" action="{% url 'teachers:edit_teacher' get_student_id.id %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                       
                        <h5>معلومات استاد</h5>
                    </div>
                    <!-- Personal Info -->
                    <div class="col-md-4 form-group mb-3">
                        <label for="firstName1">اسم<span style="color: red;">*</span></label>
                        {{ form.name }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="lastName1">تخلص</label>
                        {{ form.last_name }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="phone">شماره تماس</label>
                        {{ form.phone }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="phone">جنسیت</label>
                        {{ form.gender }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="date_of_registration">فیصدی<span style="color: red;">*</span></label>
                        {{ form.percentage }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="gender">فایل</label>
                        {{ form.file }}
                    </div>
                    <div class="col-md-12 form-group mb-3">
                        <label for="gender">توضیحات</label>
                        {{ form.description }}
                    </div>
            
            
                    <!-- Submit Buttons -->
                    <div class="col-12 modal-footer">
                        <a href="{% url 'teachers:teacher_detail' get_student_id.id %}" class="btn btn-secondary">برگشت</a>
                        <button class="btn btn-primary " type="submit">ذخیره کردن</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#datepicker3').datepicker({});
    });
</script>
{% endblock %}
