{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container mt-4 col-lg-12"> <!-- Bootstrap container -->
    <div class="card shadow rounded-3"> <!-- Bootstrap card -->
        <div class="card-body" style="font-family: 'Vazirmatn', sans-serif;">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center h4" role="alert">
                    {{ message }}
                </div>
                <script>
                    setTimeout(function () {
                        $('.alert').fadeOut('slow');
                    }, 3000);
                </script>
                {% endfor %}
            {% endif %}

            <div class="page-header mb-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">داشبورد</a></li>
                    <li class="breadcrumb-item active">بخش اصلاح</li>
                </ul>
                <h4 class="mb-3">معلومات شاگرد</h4>
            </div>

            <form class="needs-validation" novalidate="novalidate" action="{% url 'students:students_registration' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                       
                        <h5>معلومات شاگرد</h5>
                    </div>
                    <!-- Personal Info -->
                    <div class="col-md-4 form-group mb-3">
                        <label for="firstName1">نام مکمل<span style="color: red;">*</span></label>
                        {{ form.first_name }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="lastName1">تخلص<span style="color: red;">*</span></label>
                        {{ form.last_name }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="email">نام پدر</label>
                        {{ form.father_name }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="phone">شماره تماس</label>
                        {{ form.phone }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="date_of_registration">تاریخ ثبت نام<span style="color: red;">*</span></label>
                        {{ form.date_of_registration }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="date_of_registration">مضمون<span style="color: red;">*</span></label>
                        {{ form.subject }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="gender">جنسیت<span style="color: red;">*</span></label>
                        {{ form.gender }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="gender">تایم<span style="color: red;">*</span></label>
                        {{ form.time }}
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="gender">استاد<span style="color: red;">*</span></label>
                        {{ form.teacher }}
                    </div>
            
                   
            
                    <!-- Fee Fields -->
                    <div class="col-md-4 form-group mb-3">
                        <label for="orginal_fees">مقدار فیس<span style="color: red;">*</span></label>
                        {{ form.orginal_fees }}
                    </div>
                 
            
                    <!-- Submit Buttons -->
                    <div class="col-12 modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">برگشت</button>
                        <button class="btn btn-primary " type="submit">ذخیره کردن</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#datepicker3').datepicker({});
    });
</script>
{% endblock %}
