{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="main-content pt-4" style="font-family: XW_Zar_Bd_0;">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-end mb-4" id="myTab" role="tablist">
            </ul>
            <div class="card">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
                        <!-- ====== Edit Station Form ====== -->
                        <form method="POST" action="{% url 'classes:edit_main_class' id=record.id %}">
                            {% csrf_token %}
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content p-3">
                                <div class="card-title h5 mb-3">ایدیت دوره "{{ record.name }}"</div>
                                <div>
                                    <div class="row">
                                           <!-- Personal Info -->
                                <div class="col-md-4 form-group mb-3">
                                    <label for="firstName1">نام دوره<span style="color: red;">*</span></label>
                                    {{ form.name }}
                                </div>
                        
                                <!-- Fee Fields -->
                                <div class="col-md-12 form-group mb-3">
                                    <label for="orginal_fees">توضیحات<span style="color: red;">*</span></label>
                                    {{ form.description }}
                                </div>
                                      </div>
                        
                                  <div class="text-end">
                                    
                                    <!-- Dismiss button -->
                                    <a href="{% url 'classes:main_classes' %}" class="btn btn-secondary mt-2">
                                    برگشت
                                    </a>
                                  
                                    <!-- Submit button -->
                                    <button class="btn btn-primary mt-2" type="submit">
                                      ذخیره کردن
                                    </button>
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                          </form>
                               
    
        <script>
        document.addEventListener('DOMContentLoaded', function () {
          $('#datepicker3').datepicker({});
        });
        </script>
        
                        <!-- ====== / Edit Station Form ====== -->
                      </div>
                      
                </div>
            </div>
        </div>
    </div><!-- end of main-content -->
</div>

{% endblock %}
