{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="main-content pt-4" style="font-family: XW_Zar_Bd_0;">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-end mb-4" id="myTab" role="tablist">
            </ul>
            <div class="card">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
                  

                      <form class="needs-validation" novalidate="novalidate" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                               
                                <h5>معلومات شاگرد</h5>
                            </div>
                            <!-- Personal Info -->
                            <div class="col-md-4 form-group mb-3">
                                <label for="firstName1">نام مکمل<span style="color: red;">*</span></label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-4 form-group mb-3">
                                <label for="lastName1">تخلص<span style="color: red;">*</span></label>
                                {{ form.last_name }}
                            </div>
                            <div class="col-md-4 form-group mb-3">
                                <label for="email">نام پدر</label>
                                {{ form.father_name }}
                            </div>
                            <div class="col-md-4 form-group mb-3">
                                <label for="phone">شماره تماس</label>
                                {{ form.phone }}
                            </div>
                            <div class="col-md-4 form-group mb-3">
                                <label for="date_of_registration">تاریخ ثبت نام<span style="color: red;">*</span></label>
                                {{ form.date_of_registration }}
                            </div>
                            <div class="col-md-4 form-group mb-3">
                                <label for="date_of_registration">صنف<span style="color: red;">*</span></label>
                                {{ form.classs }}
                            </div>
                        
                            <div class="col-md-4 form-group mb-3">
                                <label for="gender">جنسیت<span style="color: red;">*</span></label>
                                {{ form.gender }}
                            </div>
                
                            <div class="col-md-4 form-group mb-3">
                                <label for="orginal_fees">عکس<span style="color: red;">*</span></label>
                                {{ form.image }}
                            </div>
                         
                    
                            <!-- Submit Buttons -->
                            <div class="col-12 modal-footer">
                              <input type="hidden" name="form_type" value="student">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">برگشت</button>
                                <button class="btn btn-primary " type="submit">ذخیره کردن</button>
                            </div>
                        </div>
                    </form>
                        <!-- ====== / Edit Station Form ====== -->
                      </div>
                      
                </div>
            </div>
        </div>
    </div><!-- end of main-content -->
</div>

{% endblock %}