{% load static %}
{% block content %}


<div class="app-admin-wrap layout-sidebar-vertical sidebar-full">
<div class="sidebar-panel bg-white" style="font-family: XW_Zar_Bd_0;">


<a href="{% url 'home:notification' %}" class="gull-brand pr-3 text-center mt-4 mb-2 d-flex justify-content-center align-items-center">
      <img class="pl-3" src="{% static 'images/logo.jpg'%}" alt="alt" />
     <!-- <span class=" item-name text-20 text-primary font-weight-700">GULL</span> -->
     <div class="notification-badge ml-auto">
         {{ notifications_count }}
     </div>
    <style>
        .notification-badge {
        position: relative;
        min-width: 18px;
        height: 18px;
        background: red;
        color: white;
        font-size: 12px;
        font-weight: bold;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        }

    </style>

</a>

<br>
  <hr>
  <!--  user -->
  <div class="scroll-nav ps ps--active-y" data-perfect-scrollbar="data-perfect-scrollbar" data-suppress-scroll-x="true">
      <div class="side-nav">
          <div class="main-menu">
              <ul class="metismenu" id="menu">
                
                <li class="Ul_li--hover">
                    <a href="/" class="d-flex align-items-center">
                        <img src="{% static 'icon/line-md--home-twotone.svg' %}" alt="" style="margin-left: 8px;">
                        <span class="item-name text-15 text-muted">داشبورد</span>
                    </a>
                </li>

                <li class="Ul_li--hover">
                    <a href="#" class="has-arrow">
                        <img src="{% static 'icon/hugeicons--teacher.svg' %}" alt="" style="margin-left: 8px;">
                        <span class="item-name text-15 text-muted">شاگردان و استادان</span>
                    </a>
                    <ul class="mm-collapse">
                        <li class="item-name">
                            <a href="{% url 'students:students_registration' %}" class="d-flex align-items-center">
                                <img src="{% static 'icon/hugeicons--student.svg' %}" alt="" style="margin-left: 8px;">
                                <span class="item-name text-15 text-muted">ثبت نام شاگردان</span>
                            </a>
                        </li>
                        <li class="item-name">
                            <a href="{% url 'teachers:teacher_registration' %}" class="d-flex align-items-center">
                                <img src="{% static 'icon/la--chalkboard-teacher.svg' %}" alt="" style="margin-left: 8px;">
                                <span class="item-name text-15 text-muted">ثبت نام استادان</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="Ul_li--hover">
                    <a href="{% url 'library:library_view' %}" class="d-flex align-items-center">
                        <img src="{% static 'icon/icon-park-twotone--notebook-and-pen.svg' %}" alt="" style="margin-left: 8px;">
                        <span class="item-name text-15 text-muted">قرطاسیه و کتابها</span>
                    </a>
                </li>
                <li class="Ul_li--hover">
                    <a href="{% url 'classes:main_classes' %}" class="d-flex align-items-center">
                        <img src="{% static 'icon/streamline-plump--class-lesson-solid.svg' %}" alt="" style="margin-left: 8px;">
                        <span class="item-name text-15 text-muted">صنوف</span>
                    </a>
                </li>
                <li class="Ul_li--hover">
                    <a class="" href="{% url 'subjects:subjects' %}"><i class="i-Library text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted"> مضامین</span></a>
                </li>
                <li class="Ul_li--hover">
                    <a href="{% url 'management:Total_income' %}" class="d-flex align-items-center">
                        <img src="{% static 'icon/healthicons--low-income-level.svg' %}" alt="" style="margin-left: 8px;">
                        <span class="item-name text-15 text-muted">عواید و مصارف</span>
                    </a>
                </li>
                <li class="Ul_li--hover">
                    <a href="{% url 'management:Total_income' %}" class="d-flex align-items-center">
                        <img src="{% static 'icon/streamline-plump--file-report.svg' %}" alt="" style="margin-left: 8px;">
                        <span class="item-name text-15 text-muted">راپورها</span>
                    </a>
                </li>
                <li class="Ul_li--hover">
                    <a href="{% url 'home:colculator' %}" class="d-flex align-items-center">
                        <img src="{% static 'icon/mdi--calculator.svg' %}" alt="" style="margin-left: 8px;">
                        <span class="item-name text-15 text-muted">ماشین حساب</span>
                    </a>
                </li>
                
                            
              </ul>

              <div class="ml-auto">
                <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                    <div class="card-body text-center">
                        <div class="content">
                            <p class="text-muted mt-2 mb-0">فعال :</p>
                            <p class="text-primary text-18 line-height-1 mb-2">{{user.name}}</p>
                        </div>
                        <form method="post" action="{% url 'account:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger btn-icon m-1">خارج شدن</button>
                        </form>
                    </div>
                </div>

         
        </div>
          </div>
      </div>
      <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
          <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
      </div>
      <div class="ps__rail-y" style="top: 0px; height: 404px; right: 0px;">
          <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 325px;"></div>
      </div>
      <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
          <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
      </div>
      <div class="ps__rail-y" style="top: 0px; height: 404px; right: 0px;">
          <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 325px;"></div>
      </div>
  </div>
  <!--  side-nav-close -->
</div>

<div class="switch-overlay"></div>
<div class="main-content-wrap mobile-menu-content bg-off-white m-0">
   



{% endblock%}
