{% load static %}
{% block content %}


<div class="app-admin-wrap layout-sidebar-vertical sidebar-full">
<div class="sidebar-panel bg-white" style="font-family: XW_Zar_Bd_0;">
 
  <div class="gull-brand pr-3 text-center mt-4 mb-2 d-flex justify-content-center align-items-center"><img class="pl-3" src="{% static 'images/logo.jpg'%}" alt="alt" />
     <!-- <span class=" item-name text-20 text-primary font-weight-700">GULL</span> -->
    <div class="sidebar-compact-switch ml-auto"><span></span></div>
    

</div>
<br>
  <hr>
  <!--  user -->
  <div class="scroll-nav ps ps--active-y" data-perfect-scrollbar="data-perfect-scrollbar" data-suppress-scroll-x="true">

      <div class="side-nav">
          <div class="main-menu">
              <ul class="metismenu" id="menu">
                
                <li class="Ul_li--hover"><a href="/"><i class="i-Library text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">داشبورد</span></a></li>
                
                <li class="Ul_li--hover"><a class="has-arrow" href="#"><i class="i-Library text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">مرکزي اداره</span></a>
                    <ul class="mm-collapse">
                        {% if perms.administrations.view_branches %}
                        <li class="item-name"><a href=""><i class="nav-icon"></i><span class="item-name">د څانګو مدیریت</span></a></li>
                        {% endif %}
                        <li class="item-name"><a href=""><i class="nav-icon"></i><span class="item-name">مالی / محاسبه</span></a></li>
                    </ul>
                </li>
                
                {% if perms.income.view_income %}
                <li class="Ul_li--hover"><a href="{% url 'students:students_registration' %}"><i class="i-Library text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">ثبت نام شاگردان</span></a></li>
                {% endif %}

                {% if perms.money_dist.view_dist_money_req %}
                <li class="Ul_li--hover"><a href=""><i class="i-Library text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted"> د حوالو برخه</span></a></li>
                {% endif %}


                {% if perms.money_dist.view_req_approve %}
                <li class="Ul_li--hover"><a href=""><i class="i-Library text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">د حوالو اجراعات</span></a></li>
                {% endif %}

                <li class="Ul_li--hover"><a class="has-arrow" href="#"><i class="i-Library text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">مساعده او کرایه</span></a>
                    <ul class="mm-collapse0">
                        {% if perms.payroll.view_employee_info %}
                        <li class="item-name"><a href=""><i class="nav-icon"></i><span class="item-name"> د عامو ملګرو مساعده </span></a></li>
                        {% endif %}
                        {% if perms.payroll.view_rent_for_houses %}
                        <li class="item-name"><a href=""><i class="nav-icon "></i><span class="item-name"> میاشتینی کرایه </span></a></li>
                        {% endif %}
                        {% if perms.payroll.view_rental_book %}
                        <li class="item-name"><a href=""><i class="nav-icon "></i><span class="item-name">  صحی برخه</span></a></li>
                        {% endif %}
                    </ul>
                </li>



                  <li class="Ul_li--hover"><a class="has-arrow" href="#"><i class="i-Library text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">تنظیمات</span></a>
                      <ul class="mm-collapse">
                           {% if perms.income.view_currency %}
                          <li class="item-name"><a href=""><i class="nav-icon "></i><span class="item-name">پولی اسعار</span></a></li>
                            {% endif %}
                           {% if perms.income.view_currency %}
                          <li class="item-name"><a href=""><i class="nav-icon "></i><span class="item-name">مالی کال </span></a></li>
                            {% endif %}
                            <li class="item-name"><a href=""><i class="nav-icon "></i><span class="item-name">میاشت </span></a></li>

                          {% if perms.account.view_related_employeement_info %}
                          <li class="item-name"><a href=""><i class="nav-icon "></i><span class="item-name">مربوط کسان</span></a></li>
                          {% endif %}
                          {% if perms.account.view_approval_employeement_info %}
                          <li class="item-name"><a href=""><i class="nav-icon"></i><span class="item-name">حکم ورکونکی</span></a></li>
                          {% endif %}
                          {% if perms.account.view_taeed_employeement_info %}
                          <li class="item-name"><a href=""><i class="nav-icon "></i><span class="item-name">حکم تایید کوونکی</span></a></li>
                          {% endif %}
                          <li class="item-name"></li>
                          {% if perms.money_dist.view_req_type %}
                          <li class="nav-item"><a href=""><i class="nav-icon "></i><span class="item-name">د حوالو ضرورت ډولونه</span></a></li>
                          {% endif %}
                      </ul>
                  </li>
                  
                  <li class="Ul_li--hover"><a class="has-arrow" href="#"><i class="i-Library text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">راپورونه</span></a>
                      <ul class="mm-collapse">
                          <li class="item-name"><a href=""><i class="nav-icon"></i><span class="item-name">د عواید راپورونه</span></a></li>
                          <li class="item-name"><a href=""><i class="nav-icon"></i><span class="item-name"> د حوالو راپورونه</span></a></li>
                          <li class="item-name"><a href=""><i class="nav-icon"></i><span class="item-name"> د  ملګرو مساعده راپورونه</span></a></li>
                          <li class="item-name"><a href=""><i class="nav-icon"></i><span class="item-name"> د میاشتنی کرایه راپورونه</span></a></li>
                      </ul>
                  </li>
                  <li class="Ul_li--hover"><a class="has-arrow" href="#"><i class="i-Library text-20 mr-2 text-muted"></i><span class="item-name text-15 text-muted">د کارونکو مدیریت</span></a>
                    <ul class="mm-collapse">
                        {% if perms.account.view_employeement_type %}
                        <li class="item-name"><a href=""><i class="nav-icon "></i><span class="item-name">د کاروونکو ډولونه</span></a></li>
                        {% endif %}
                        {% if perms.account.view_employeement_info %}
                        <li class="item-name"><a href=""><i class="nav-icon "></i><span class="item-name">اکونتونه</span></a></li>
                        {% endif %}
                        {% if perms.account.view_logentry %}
                        <li class="item-name"><a href=""><i class="nav-icon "></i><span class="item-name">نظارتی برخه</span></a></li>
                        {% endif %}
                        <li class="nav-item"><a href=""><i class="nav-icon "></i><span class="item-name">گروپونه </span></a></li>
                        
                    </ul>
                </li>
              </ul>

              <div class="ml-auto">
                <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                    <div class="card-body text-center">
                        <div class="content">
                            <p class="text-muted mt-2 mb-0">فعال اکونټ:</p>
                            <p class="text-primary text-18 line-height-1 mb-2">{{user.name}}</p>
                        </div>
                        <form method="post" action="{% url 'account:logout' %}">
                            {% csrf_token %}
                            
                            <button type="submit" class="btn btn-outline-danger btn-icon m-1">وتل</button>
                        </form>
                    </div>
                </div>

             
        </div>
          </div>
      </div>
      <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
          <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
      </div>
      <div class="ps__rail-y" style="top: 0px; height: 404px; right: 0px;">
          <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 325px;"></div>
      </div>
      <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
          <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
      </div>
      <div class="ps__rail-y" style="top: 0px; height: 404px; right: 0px;">
          <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 325px;"></div>
      </div>
  </div>
  <!--  side-nav-close -->
</div>

<div class="switch-overlay"></div>
<div class="main-content-wrap mobile-menu-content bg-off-white m-0">
   



{% endblock%}
